.form-input label {
    display: block;
    font-family: var(--poppins-font);
    letter-spacing: 0.8px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.5;
}

.login-section .login-section__inner {
    border: 1px solid #ccc;
    /* margin: 2rem 0; */
    padding: 2rem;
    max-width: 50rem;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: fixed;
    top: 0;
    background-color: #fff;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.login-button__block {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.login-button__block button {
    padding: 0.5em 0.6em;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6045ff;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-section__inner .form-section__top {
    text-align: center;
}

.login-section__inner .form-section__top h4 {
    font-family: var(--poppins-font);
    font-size: 1.5rem;
    letter-spacing: 0.7px;
    text-transform: capitalize;
    line-height: 1.4;
}

.login-section__inner .form-section__bottom .form-input input , select{
    width: 100%;
    padding: 0.5em 0.8em;
    border-radius: 6px;
    font-family: var(--poppins-font);
    letter-spacing: 0.8px;
    font-weight: 400;
    border: 1px solid #ccc;
    margin-top: 0.2rem;
}

.login-section__inner .form-section__bottom .form-input input:focus ,select:focus {
    border: 1px solid #ccc;
    outline: none;
}

.login-section__inner .form-section__bottom .form-input {
    padding-block: 0.5rem;
}

.form-submit__block {
    margin-top: 1rem;
}

.form-submit__block button {
    max-width: 100%;
    width: 100%;
    padding: 0.5em;
    border-radius: 8px;
    font-family: var(--poppins-font);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 600;
    background-color: #6045ff;
    color: #fff;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.new-customer__register{
    text-align: center;
    margin-top: 1rem;
    font-family: var(--poppins-font);
    letter-spacing: 0.9px;
    text-transform: capitalize;
    font-size: 1rem;
}

.new-customer__register .register-link{
    margin-left: 0.1rem;
    color: #6045ff;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 1px solid #6045ff;
}